twine>=3.1.1
bokeh>=2.2.3
dask>=2.13.0
distributed>=2.9.3
graphviz>=0.13.2
matplotlib>=3.1.2
numba>=0.51.0
numcodecs>=0.6.3
numpy>=1.18.1
pandas>=0.25.2
scipy>=1.5.4
scikit-learn>=0.22.2
toolz>=0.10.0
xarray>=0.16.1
zarr>=2.3.2
fsspec>=0.6.2
astropy>=4.1
gdown>=3.12.2
ipympl>=0.7.0
pip==20.2.4
nbsphinx==0.8.3
sphinx-autoapi==1.8.0
sphinx-rtd-theme==0.5.0
recommonmark==0.6.0
pypandoc==1.5
Sphinx==3.5.4
python-casacore==3.4.0
