# Verification
The built-in test suite may be run to verify functionality of installations.

## Data Repository
Download the test data from https://astrocloud.nrao.edu/s/Hacr42aZmJ3eb7i (or [AWS S3](https://cngi-prototype-test-data.s3.amazonaws.com/sis14_twhya_field5_mstrans_lsrk.zarr.zip)) and place the files in `cngi_prototype/cngi/data/`.
The test scripts can be found in `cngi_prototype/tests/`. 
